<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- TODO: Retina stuff in header -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shropgeek</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="shortcut icon" type="image/ico" href="favicon.png" />
        <link rel="shortcut icon" href="favicon.png"> 
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script type="text/javascript" src="//use.typekit.net/clx8qli.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>



        <link href="public/assets/fonts/ss-social-circle.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/assets/fonts/ss-standard.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/styles/slidebars.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/your-project.min.css" rel="stylesheet" type="text/css" media="all"/>

    


        <!-- Shims -->
        <!--[if lt IE 9]>
            <script src="public/assets/js/html5shiv.min.js"></script>
            <script src="public/assets/js/respond.min.js"></script>


        <!-- Web App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">


    </head>

    <body class="wrapper">

    <div id="sb-site">

        <div class="grid">
        
            <div class="grid">


	<div class="header">
	<div class="container">

		<div class="grid__item one-whole">



				<ul class="nav social-menu">
					<li><a href="" class="ss-social-circle ss-icon">Email</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Facebook</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Flickr</a></li>
				</ul>

				<a href="#" class="sb-toggle-left menu-btn ss-icon">list</a>
				<a href="index.html" class="menu-btn ss-icon">home</a>

		</div>

	</div>
	</div>

</div>

            <!---->
                
	<div class="grid__item one-whole">

		<div class="intro-bg">

			<!-- TODO: Check if animated Gif would look good wit transparent bg -->
			<!-- ELSE: Change to text logo with image as BG -->

			<!-- TODO: Maybe Parrallax background too? -->

			<!--
			<img src="public/assets/img/shropgeek-presents.gif" alt="Shropgeek Presents" class="img--center">
			-->
			
			<div class="logo-container">
				<h1 class="logo">
					<a href="">Shropgeek Presents</a>
				</h1>
			</div>

		</div>

	</div>
            <!---->

            
	
<div class="grid__item one-whole">

	<!-- TODO: Accordian should show future events only. The open will be  at the botom of the stack and based based on the current date //-->
	<!-- Use ACF date field for titles and PHP date function to find current and apply open class //-->
	<!-- Show 6 evets on this page and link through to events archive where they can be sorted by event name //-->
	<!-- Numbered tabs will be $i loop inside "While()" //-->



	<div id="accordion-resizer" class="ui-widget-content">

		<div id="accordion">

<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
			

			<div class="tab tab-one">
				<div class="container">
				<h3>
					
					<span class="event-type"><span class="ss-standard ss-directright"></span> Social</span> May 2nd 2014

				</h3>
				</div>
			</div>

			<div class="event-content event-content-four content-even">

				<div class="grid">

					 <div class="container">

				      	<div class="grid__item palm-one-whole one-third pt mobile-display-none">

				      		<img src="public/assets/img/shropgeek.jpg" alt="" class="img--left">
			      		
			      		</div><!--

			      	 --><div class="grid__item palm-one-whole lap-one-whole two-thirds">


			      	 		<div class="grid">
					      	 	<div class="grid__item one-whole heading">
					      	 		<h1 class="event-title alignright border-bottom"><span>Monthly Social</span><br/>#shropgeeksocial</h1>
					      	 	</div> 
				      	 	</div>

				      	 	<div class="grid">

						    	<div class="grid__item palm-one-whole one-third">

						    		<h5 class="event-meta social">Friday 2nd May <br /><span>7.30pm-Late</span></h5>

						      		<p class="social"><strong>Venue: The Alb</strong> <br />Shrewsbury, <br /> Shropshire, SY1 1PB</p>

						      		<a href="events-single-social.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

					      		</div><!--

					      	 --><div class="grid__item palm-one-whole one-third">

					      	 		<div class="entry-content">
						      		
						      			<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
					      			</div>

					      		</div><!--
				      		
					      	 --><div class="grid__item palm-one-whole one-third">
						      		<div class="entry-content">
							      		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
									</div>

					      		</div>

					      	</div>
			     		
			     		</div>

			     	</div>

			    </div>

		    </div>		
<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
			
			<div class="tab tab-two">
				<div class="container">
				<h3>
					
					<span class="event-type"><span class="ss-standard ss-directright"></span> Social</span> April 4th 2014
					
				</h3>
				</div>
			</div>

		   	<!-- Added container to this to constrain width on desktop //-->
		    <div class="event-content event-content-three content-even">
				      	
				<div class="grid">

					<div class="container">

				    	<div class="grid__item palm-one-whole lap-one-whole two-thirds">


				    		<div class="grid">
					      	 	<div class="grid__item one-whole heading">
					      	 		<h1 class="event-title alignleft border-bottom"><span>Monthly Social</span><br/>#shropgeeksocial</h1>
					      	 	</div> 
				      	 	</div>

				      	 	<div class="grid">

						    	<div class="grid__item palm-one-whole one-third">

						    		<h5 class="event-meta social">Friday 4th April <br /><span>7.30pm-Late</span></h5>

						      		<p class="social"><strong>Venue: The Alb</strong> <br />Shrewsbury, <br /> Shropshire, SY1 1PB</p>

						      		<a href="events-single-social.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

						      		

					      		</div><!--

					      		--><div class="grid__item palm-one-whole one-third">

						      	 	<div class="entry-content">
							      		
							      		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
									</div>

					      		</div><!--
				      		
					      	 	--><div class="grid__item palm-one-whole one-third">
						      	
							      	<div class="entry-content">
							      		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
						      		</div>

					      		</div>

				      		</div>
			     		
			     		</div><!--
						
						--><div class="grid__item palm-one-whole one-third pt mobile-display-none">

					      		<img src="public/assets/img/reserved.jpg" alt="Photo by JJ Mellors Photography" class="img--left">


				      	</div>

				   	</div>

				</div> 

		    </div>

<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
					
			<div class="tab tab-three">
				<div class="container">
				<h3>
					<span class="event-type"><span class="ss-standard ss-directright"></span>
 Social</span> March 7th 2014
					
				</h3>
				</div>
			</div>
    
			<div class="event-content event-content-two content-even">

			  	<div class="grid">

			  		<div class="container">

				      	<div class="grid__item palm-one-whole lap-one-whole one-third pt mobile-display-none">

				      		<img src="public/assets/img/the-alb-sign.jpg" alt="Photo by JJ Mellors Photography" class="img--left">
			      		
			      		</div><!--

			      	 --><div class="grid__item palm-one-whole lap-one-whole two-thirds">

			      	 		<div class="grid">

					      	 	<div class="grid__item one-whole heading">
					      	 		<h1 class="event-title alignright border-bottom"><span>Monthly Social</span><br/>#shropgeeksocial</h1>
					      	 	</div> 

				      	 	</div>

				      	 	<div class="grid">

						    	<div class="grid__item palm-one-whole one-third">

						    		<h5 class="event-meta social">Friday 7th March<br /><span>7.30pm-Late</span></h5>

						      		<p class="social"><strong>Venue: The Alb</strong> <br />Shrewsbury, <br /> Shropshire, SY1 1PB</p>

						      		<a href="events-single-social.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

						      		<p class="mobile-display-none credits">Photo by JJ Mellors Photography</p>

					      		</div><!--

					      	 --><div class="grid__item palm-one-whole one-third">
						      		<div class="entry-content">
						      			<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
					      			</div>
					      		</div><!--
				      		
					      	 --><div class="grid__item palm-one-whole one-third">
						      		<div class="entry-content">
						      			<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
					      			</div>
					      		</div>

				      		</div>
			     		
			     		</div>

			     	</div>

			    </div>

			</div>

<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
			<div class="tab tab-four">
				<div class="container">
				<h3>
					
					<span class="event-type"><span class="ss-standard ss-dropdown"></span> Rebellion</span> February 20th 2014
					
				</h3>
				</div>
			</div>

			<!-- Moved container to its own div inside so that map can span full width -
			-- constrains width on desktop //-->

			<div class="event-content event-content-one content-odd">

			    <div class="grid">
			    <div class="container">

			   		<div class="grid__item one-whole heading border-bottom">
				   		<h1 class="event-title"><span>Rebellion #5</span><br />The (Almost) Spring Edition</h1>
				   	</div>


				  	<div class="grid__item one-whole desk-two-thirds">

				   		<div class="grid">
				   					
				   			<div class="grid__item one-whole heading">
				   				<h2>The Speakers</h2>
				   			</div>
				   		</div>


				   		<div class="grid">
					      	<div class="grid__item one-third">

						      	<h4 class="aligncenter">Syd Lawrence</h4>

						      	<img src="public/assets/img/syd-lawrence.jpg" alt="" class="img--center">

						      	<ul class="nav social-menu">
						      		<li><a href="" class="ss-social-circle ss-icon">Link</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">LinkedIn</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					      		</ul>

					      	</div><!--

					     --><div class="grid__item one-third">

					      		<h4 class="aligncenter">Dave Coveney</h4>

					      		<img src="public/assets/img/dave-coveney.jpg" alt="" class="img--center">

						      	<ul class="nav social-menu">
						     		<li><a href="" class="ss-social-circle ss-icon">Link</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">LinkedIn</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					     		</ul>

				      		</div><!--

				      	 --><div class="grid__item one-third">
				      			
				      	 		<h4 class="aligncenter">Jon Lewis</h4>

				      			<img src="public/assets/img/jon-lewis.jpg" alt="" class="img--center">

				      			<ul class="nav social-menu">
						     		<li><a href="" class="ss-social-circle ss-icon">Link</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">LinkedIn</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					     		</ul>

				      		</div>
				      	</div>

					    <!-- Lightning talks on new row //-->

					    <div class="grid">
					      	<div class="grid__item one-whole heading border-top">
				   				<h3>Lightning Talks</h3>
				   			</div>
				   		</div>


				   		<div class="grid">

					      	<div class="grid__item one-quarter palm-one-half lap-none">
					      	</div><!--

					     --><div class="grid__item one-quarter palm-one-half">
					      		<h4 class="aligncenter">Joe Bloggs</h4>
					      		<ul class="nav social-menu">
						     		<li><a href="" class="ss-social-circle ss-icon">Link</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">LinkedIn</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					     		</ul>
					      	</div><!--

					     --><div class="grid__item one-quarter palm-one-half">
					      		<h4 class="aligncenter">John Doe</h4>
					      		<ul class="nav social-menu">
						     		<li><a href="" class="ss-social-circle ss-icon">Link</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">LinkedIn</a></li>
						   			<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					     		</ul>
					      	</div><!--

					     --><div class="grid__item one-quarter palm-one-half lap-none">
					      	</div>



					    </div>

				    </div><!--

				 --><div class="grid__item one-whole desk-one-third">

					    <div class="grid">
					     	<div class="grid__item one-whole">
					   			<h5 class="event-meta">February 20th . <span>6.30pm-Late</span> . The Alb</h5>
					   		</div>
					   	</div>

					   	<div class="entry-content">
					     	<p>We want to start the new year in style and are packing a lot into our first Rebellion of 2014. </p>

					      	<p>We've invited some of the digital industries leading talent from both Shropshire and further afield covering a range of topics and disciplines from front end coding and design to business and marketing. </p>

					      	<p>There will be three headline speakers, two five minute lightning talks and five minutes at the end of the evening to give you opportunity to share any news or announcements you have. What more could you want?</p>

							<p>Tickets are only £10 per person, doors open at 6.30pm with the first speaker starting at 7pm.</p>


					    	
					    	<a href="" class="btn btn--small btn--book">Book Tickets <span class="ss-directright"></span></a>
					    	<a href="events-single.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

				    	</div>

					</div>
				
				</div>  	
				</div>
			    



			</div>

<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
			

			<div class="tab tab-five">
				<div class="container">
				<h3>
					
					<span class="event-type"><span class="ss-standard ss-directright"></span> Social</span> February 7th 2014
					
				</h3>
				</div>
			</div>

		   	<!-- Added container to this to constrain width on desktop //-->
		    <div class="event-content event-content-three content-even">
				      	
				<div class="grid">

					<div class="container">

				    	<div class="grid__item palm-one-whole lap-one-whole two-thirds">


				    		<div class="grid">
					      	 	<div class="grid__item one-whole heading">
					      	 		<h1 class="event-title alignleft border-bottom"><span>New Year Social</span><br/>#shropgeeksocial</h1>
					      	 	</div> 
				      	 	</div>

				      	 	<div class="grid">

						    	<div class="grid__item palm-one-whole one-third">

						    		<h5 class="event-meta social">Friday 7th February <br /><span>7.30pm-Late</span></h5>

						      		<p class="social"><strong>Venue: The Alb</strong> <br />Shrewsbury, <br /> Shropshire, SY1 1PB</p>

						      		<a href="events-single-social.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

						      		

					      		</div><!--

					      		--><div class="grid__item palm-one-whole one-third">

						      	 	<div class="entry-content">
							      		
							      		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
									</div>

					      		</div><!--
				      		
					      	 	--><div class="grid__item palm-one-whole one-third">
						      	
							      	<div class="entry-content">
							      		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
						      		</div>

					      		</div>

				      		</div>
			     		
			     		</div><!--
						
						--><div class="grid__item palm-one-whole one-third pt mobile-display-none">

					      		<img src="public/assets/img/reserved.jpg" alt="Photo by JJ Mellors Photography" class="img--left">


				      	</div>

				   	</div>

				</div> 

		    </div>
<!--
//-----------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------
-->
			

			<div class="tab tab-six">
				<div class="container">
				<h3>
					<span class="event-type"><span class="ss-standard ss-directright"></span>
 Social</span> January 10th 2014
					
				</h3>
				</div>
			</div>
    
			<div class="event-content event-content-two content-even">

			  	<div class="grid">

			  		<div class="container">

				      	<div class="grid__item palm-one-whole lap-one-whole one-third pt mobile-display-none">

				      		<img src="public/assets/img/the-alb-sign.jpg" alt="Photo by JJ Mellors Photography" class="img--left">
			      		
			      		</div><!--

			      	 --><div class="grid__item palm-one-whole lap-one-whole two-thirds">

			      	 		<div class="grid">

					      	 	<div class="grid__item one-whole heading">
					      	 		<h1 class="event-title alignright border-bottom"><span>New Year Social</span><br/>#shropgeeksocial</h1>
					      	 	</div> 

				      	 	</div>

				      	 	<div class="grid">

						    	<div class="grid__item palm-one-whole one-third">

						    		<h5 class="event-meta social">Friday 10th January<br /><span>7.30pm-Late</span></h5>

						      		<p class="social"><strong>Venue: The Alb</strong> <br />Shrewsbury, <br /> Shropshire, SY1 1PB</p>

						      		<a href="events-single-social.html" class="btn btn--small btn--book">Full Details <span class="ss-directright"></span></a>

						      		<p class="mobile-display-none credits">Photo by JJ Mellors Photography</p>

					      		</div><!--

					      	 --><div class="grid__item palm-one-whole one-third">
						      		<div class="entry-content">
						      			<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
					      			</div>
					      		</div><!--
				      		
					      	 --><div class="grid__item palm-one-whole one-third">
						      		<div class="entry-content">
						      			<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
					      			</div>
					      		</div>

				      		</div>
			     		
			     		</div>

			     	</div>

			    </div>

			</div>


<!--
//-----------------------------------------------------------------------------------------------------------------
-->
		  	</div>

		</div>



</div>


            
            <div class="grid">

	<div class="news-include pt">

		<div class="container">

			<div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/news-1.jpg" alt="" class="img--center" />
					</a>	

					<h4><a href="news-single.html">Shropgeek nominated for Grass Roots Event of the Year.</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/2014-revolution.jpg" alt="" class="img--center" />
					</a>
					
					<h4><a href="news-single.html">Early details of the 2014 (R)Evolution Released.</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/lg-sat.jpg" alt="" class="img--center" />
					</a>

					<h4><a href="news-single.html">Saturday Conferences - The Results</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/shropgeek-news.jpg" alt="" class="img--center" />
					</a>

					<h4><a href="news-single.html">New brand and website for Shropgeek</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div>

		</div>
		
	</div>

</div>

            <div class="grid">



	<div class="footer-content">
		<div class="container">

		


			<!-- These would be widgets //-->
			<div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>The Team Behind </h2>

					<a href="http://www.shropgeek-revolution.co.uk">
						<img src="public/assets/img/revolutionconf.png" alt="(R)Evolution 2014" class=" rev img--left">
					</a>

				</div>

			</div><!--

			--><div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>Sign up for news</h2>

					<form action="http://shropgeek-revolution.createsend.com/t/t/s/tltun/" method="post">

						<p>Get news about all the Shropgeek goings on straight to your inbox!</p>
					    <p>
					        
					        <input id="fieldEmail" name="cm-tltun-tltun" type="email" value="Email"  onblur="if(this.value == '') { this.value = 'Email'; }" onfocus="if(this.value == 'Email') { this.value = ''; }" required  />
					    </p>
					    <p>
					        <button type="submit" class="btn btn--small btn--book">Subscribe <span class="ss-directright"></span></button>
					    </p>
					</form>

				</div>

			</div><!--

			--><div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>Speakers Wanted</h2>

					<p>If you would like to speak at one of our events or you have an idea for a topic or person you would like to see, drop us a line</p>

					<a href="news-single.html" class="btn btn--small btn--book">Find Out More <span class="ss-directright"></span></a>

				</div><!--

			--></div>



				

					<div class="grid__item one-whole border-top the-end">

						<p class="decor">The End</p>

					</div>

				
			


			<div class="grid__item one-whole">

				<div class="border-top pb">
					
					<p class="alignleft credits"><a href="http://www.kirstyburgoine.co.uk" title="Website by Kirsty Burgoine">Website by Kirsty Burgoine</a></p>
					<p class="alignright credits">© 2014 ~ Shropgeek</p>

				</div>

			</div>

		</div>

	</div>

</div>

        </div>

    </div>
        

                    <div class="sb-slidebar sb-left">

            <img src="public/assets/img/shropgeek-logo.png" alt="" class="img--center">
            
            <ul class="nav  nav--stacked  menu">

                <li class="current"><a href="index.html">Home</a></li>
                <li ><a href="about.html">About</a></li>
                <li ><a href="events.html">Events</a></li>
                <li ><a href="news.html">Articles</a></li>

            </ul>
        
        </div>

    
<a href="#" class="scrollup"><i class="ss-icon">navigateup</i></a>  

<!-- ========================== jQuery Libraries ========================== -->
        <!-- TODO: Remember to change this in theme functions to queue -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
        <script src="public/assets/js/modernizr.min.js"></script>
        <script src="public/assets/js/slidebars.min.js"></script>
        <script src="public/assets/js/scrollTo.min.js"></script>
        <script src="public/assets/js/custom.min.js"></script>
<!-- ========================== jQuery Libraries ========================== -->

    </body>
</html>