<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- TODO: Retina stuff in header -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shropgeek</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="shortcut icon" type="image/ico" href="favicon.png" />
        <link rel="shortcut icon" href="favicon.png"> 
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script type="text/javascript" src="//use.typekit.net/clx8qli.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>



        <link href="public/assets/fonts/ss-social-circle.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/assets/fonts/ss-standard.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/styles/slidebars.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/your-project.min.css" rel="stylesheet" type="text/css" media="all"/>

    


        <!-- Shims -->
        <!--[if lt IE 9]>
            <script src="public/assets/js/html5shiv.min.js"></script>
            <script src="public/assets/js/respond.min.js"></script>


        <!-- Web App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">


    </head>

    <body class="wrapper single">

    <div id="sb-site">

        <div class="grid">
        
            <div class="grid">


	<div class="header">
	<div class="container">

		<div class="grid__item one-whole">



				<ul class="nav social-menu">
					<li><a href="" class="ss-social-circle ss-icon">Email</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Twitter</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Facebook</a></li>
					<li><a href="" class="ss-social-circle ss-icon">Flickr</a></li>
				</ul>

				<a href="#" class="sb-toggle-left menu-btn ss-icon">list</a>
				<a href="index.html" class="menu-btn ss-icon">home</a>

		</div>

	</div>
	</div>

</div>

            

<div class="grid">

	<div class="container">

		<div class="grid__item one-whole heading">

			<h1 class="event-title border-bottom"><span>Articles</span></h1>

		</div>

		<div class="center-column">

			<div class="grid__item palm-one-whole three-quarters">

					<article class="post border-bottom">

						<h2>Shropgeek nominated for Grass Roots Event of the Year.</h2>
						

						<div class="entry-content">

							<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

						</div>

					</article>

			</div><!--

			--><div class="grid__item palm-one-whole one-quarter">

				<div class="news-meta">

					<img src="public/assets/img/news-1.jpg" alt="" class="img--center" />
					
					2nd February 2014<br />
					Written By: <span>Kirsty Burgoine</span><br />
					<span>0 Comments</span>
				</div>


			</div>

		</div>

		<div class="grid__item one-whole">

			<nav id="nav-single">
							
				<span class="nav-previous">
					<a href="news-single.html" rel="prev">
						<span class="meta-nav">&larr; Previous</span><br />
						<span class="prev-title">News Item</span>
					</a>
				</span>

				<span class="nav-next">
					<a href="news-single.html" rel="next">
						<span class="meta-nav">Next &rarr;</span><br />
						<span class="next-title">News Item</span>
					</a>
				</span>
		                        
		        <div class="seperator"></div>
	                        
			</nav><!-- #nav-single -->

		</div>



	</div>

</div>



            <div class="grid">

	<div class="news-include pt">

		<div class="container">

			<div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/news-1.jpg" alt="" class="img--center" />
					</a>	

					<h4><a href="news-single.html">Shropgeek nominated for Grass Roots Event of the Year.</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/2014-revolution.jpg" alt="" class="img--center" />
					</a>
					
					<h4><a href="news-single.html">Early details of the 2014 (R)Evolution Released.</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/lg-sat.jpg" alt="" class="img--center" />
					</a>

					<h4><a href="news-single.html">Saturday Conferences - The Results</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div><!--

		 	--><div class="grid__item palm-one-half lap-one-half one-quarter">

				<div class="post">

					<a href="news-single.html">
						<img src="public/assets/img/shropgeek-news.jpg" alt="" class="img--center" />
					</a>

					<h4><a href="news-single.html">New brand and website for Shropgeek</a></h4>

					<div class="entry-content">

						<p>Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante.</p>

					</div>

				</div>

			</div>

		</div>
		
	</div>

</div>

            <div class="grid">



	<div class="footer-content">
		<div class="container">

		


			<!-- These would be widgets //-->
			<div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>The Team Behind </h2>

					<a href="http://www.shropgeek-revolution.co.uk">
						<img src="public/assets/img/revolutionconf.png" alt="(R)Evolution 2014" class=" rev img--left">
					</a>

				</div>

			</div><!--

			--><div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>Sign up for news</h2>

					<form action="http://shropgeek-revolution.createsend.com/t/t/s/tltun/" method="post">

						<p>Get news about all the Shropgeek goings on straight to your inbox!</p>
					    <p>
					        
					        <input id="fieldEmail" name="cm-tltun-tltun" type="email" value="Email"  onblur="if(this.value == '') { this.value = 'Email'; }" onfocus="if(this.value == 'Email') { this.value = ''; }" required  />
					    </p>
					    <p>
					        <button type="submit" class="btn btn--small btn--book"">Subscribe <span class="ss-directright"></span></button>
					    </p>
					</form>

				</div>

			</div><!--

			--><div class="grid__item one-third lap-one-third palm-one-whole">

				<div class="widget-area pt">

					<h2>Speakers Wanted</h2>

					<p>If you would like to speak at one of our events or you have an idea for a topic or person you would like to see, drop us a line</p>

					<a href="news-single.html" class="btn btn--small btn--book">Find Out More <span class="ss-directright"></span></a>

				</div><!--

			--></div>



				

					<div class="grid__item one-whole border-top the-end">

						<p class="decor">The End</p>

					</div>

				
			


			<div class="grid__item one-whole">

				<div class="border-top pb">
					
					<p class="alignleft credits"><a href="http://www.kirstyburgoine.co.uk" title="Website by Kirsty Burgoine">Website by Kirsty Burgoine</a></p>
					<p class="alignright credits">© 2014 ~ Shropgeek</p>

				</div>

			</div>

		</div>

	</div>

</div>

        </div>

    </div>
        
                    <div class="sb-slidebar sb-left">

            <img src="public/assets/img/shropgeek-logo.png" alt="" class="img--center">
            
            <ul class="nav  nav--stacked  menu">

                <li ><a href="index.html">Home</a></li>
                <li ><a href="about.html">About</a></li>
                <li ><a href="events.html">Events</a></li>
                <li ><a href="news.html">Articles</a></li>

            </ul>
        
        </div>

    
<a href="#" class="scrollup"><i class="ss-icon">navigateup</i></a>  

<!-- ========================== jQuery Libraries ========================== -->
        <!-- TODO: Remember to change this in theme functions to queue -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
        <script src="public/assets/js/modernizr.min.js"></script>
        <script src="public/assets/js/slidebars.min.js"></script>
        <script src="public/assets/js/scrollTo.min.js"></script>
        <script src="public/assets/js/custom.min.js"></script>
<!-- ========================== jQuery Libraries ========================== -->

    </body>
</html>