//---------------------------------------------------------
//---------------------------------------------------------
// General colours depending on background color

input { 
	width: 85%;
	padding: 2.5% 
}


.enews label { display: none; }

.container .gform_wrapper .top_label .gfield_label { font-family: $bold_font; }
.container .gform_wrapper input[type=text], 
.container .gform_wrapper input[type=url], 
.container .gform_wrapper input[type=email], 
.container .gform_wrapper input[type=tel], 
.container .gform_wrapper input[type=number], 
.container .gform_wrapper input[type=password],
.container .gform_wrapper textarea {
font-size: 14px;
border: solid 1px #ccc;
}


.gform_wrapper.two-column_wrapper ul.gform_fields {
display: none;
}

.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column {
display: block;

	@media screen and (min-width: $lap-start) {
		float: left;
		width: 46%;
		margin: 0 2%!important;
	}

}
.gform_wrapper.two-column_wrapper ul.gform_column li.gsection:first-child {
display: none;
}


.thanks {
	background: #f8e7bc;
	border: solid 1px #AA9A81;
	padding: 1em 1em 0 1em;

	h4 { font-weight: 700; }
}
